<div class="bg-[#DFDFDF] h-screen flex justify-center items-center relative overflow-hidden">
    <div class="max-w-md w-full space-y-8 bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
        <div>
            <img class="mx-auto h-12 w-auto" src="~/images/logo.jpg" alt="Logo">
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                Password reset email sent
            </h2>
            <p class="mt-2 text-center text-sm text-gray-600">
                Please check your email to reset your password.
            </p>
        </div>
        <div class="text-center text-sm">
            <a asp-action="Signin" asp-controller="Account" class="font-medium text-indigo-600 hover:text-indigo-500">
                Back to sign in
            </a>
        </div>
    </div>
</div>